.DS_Store
.dart_tool/

.packages
.pub/

build/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Akamai Media Analytics library
android/libs/android_malibrary.aar
android/libs/exoplayer_AkamaiMediaAnalytics.aar
example/android/app/libs/android_malibrary.aar
example/android/app/libs/exoplayer_AkamaiMediaAnalytics.aar
/example/ios/av_malibrary.framework/
/example/ios/Flutter/av_malibrary.framework/