<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="tv.mta.flutter_playout">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service android:name=".audio.AudioService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <service
            android:name=".MediaNotificationManagerService"
            android:exported="false"
            android:stopWithTask="false">
        </service>

        <receiver
            android:name=".audio.RemoteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".video.RemoteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
